In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [4]:
testing = pd.read_csv(r'C:\Users\Sam\Desktop\D.A\final_project\data\train.csv')
training = pd.read_csv(r'C:\Users\Sam\Desktop\D.A\final_project\data\test.csv')
test_df = pd.DataFrame(testing)
train_df = pd.DataFrame(training)
pd.set_option('display.max_columns', None)
test_df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0,1

In [9]:
data_scaler = StandardScaler()
train_scaled = data_scaler.fit_transform(train_df)
test_scaled = data_scaler.fit_transform(test_df)
train_scaled

array([[-1.73031962, -0.47545131,  0.968496  , ..., -1.76021608,
         1.        , -1.01409939],
       [-1.72685552, -0.94278218,  0.968496  , ...,  0.56811207,
        -1.        , -1.01409939],
       [-1.72339142,  1.29207729,  0.968496  , ..., -1.76021608,
         1.        ,  0.98609664],
       ...,
       [ 1.72339142, -0.1469316 , -1.03252879, ...,  0.56811207,
        -1.        , -1.01409939],
       [ 1.72685552,  0.65817305,  0.968496  , ..., -1.76021608,
         1.        , -1.01409939],
       [ 1.73031962,  0.04971753,  0.968496  , ...,  0.56811207,
        -1.        ,  0.98609664]])

In [12]:
print(np.mean(train_scaled[:,0]))

0.0